@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:focus-visible {
    outline: 2px solid #e85d5d;
    outline-offset: 2px;
}


h1,
h2,
h3 {
    font-weight: 700;
}
